[Desktop Entry]
Version=1.0
Terminal=false
Icon=ms-skype
Type=Application
Categories=Network;
Exec=ms-skype
Name=Microsoft Skype Online
GenericName=Skype
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/ms-skype.desktop
