[Desktop Entry]
Name=Robots
Name[af]=Robotte
Name[ar]=روبوتات
Name[as]=ৰোবোট
Name[ast]=Robots
Name[az]=Robotlar
Name[be]=Robots
Name[bg]=Роботи
Name[bn]=Robots
Name[bn_IN]=Robots
Name[bs]=Roboti
Name[ca]=Robots
Name[ca@valencia]=Robots
Name[cs]=Roboti
Name[cy]=Robotiaid
Name[da]=Robotter
Name[de]=Robots
Name[dz]=འཕྲུལ་མི།
Name[el]=Ρομπότ
Name[en@shaw]=𐑮𐑴𐑚𐑪𐑑𐑕
Name[en_CA]=Robots
Name[en_GB]=Robots
Name[eo]=Robotoj
Name[es]=Robots
Name[et]=Robotid
Name[eu]=Robotak
Name[fa]=روبات‌ها
Name[fi]=Robotit
Name[fr]=Robots
Name[fur]=Robots
Name[ga]=Róbait
Name[gl]=Robots
Name[gu]=યંત્રમાનવો
Name[he]=רובוטים
Name[hi]=रोबॉट्स
Name[hr]=Roboti
Name[hu]=Robotok
Name[id]=Robot
Name[is]=Vélmenni
Name[it]=Robots
Name[ja]=ロボット
Name[kk]=Роботтар
Name[km]=មនុស្សយន្ត
Name[kn]=ರೋಬೋಟ್ಸ್‍
Name[ko]=로봇
Name[lt]=Robotai
Name[lv]=Roboti
Name[mai]=रोबोट
Name[mk]=Роботи
Name[ml]=റോബോട്ടുകള്‍
Name[mn]=Роботууд
Name[mr]=रोबोट्स
Name[ms]=robot
Name[nb]=Roboter
Name[ne]=रोबोट
Name[nl]=Robots
Name[nn]=Robotar
Name[oc]=Robòts
Name[or]=ରୋବଟଗୁଡିକ
Name[pa]=ਰੋਬੋਟ
Name[pl]=Roboty
Name[pt]=Robôs
Name[pt_BR]=Robôs
Name[ro]=Roboți
Name[ru]=Роботы
Name[si]=රොබෝවරු
Name[sk]=Roboti
Name[sl]=Roboti
Name[sq]=Robotët
Name[sr]=Роботи
Name[sr@latin]=Roboti
Name[sv]=Robotar
Name[ta]=இயந்திரங்கள்
Name[te]=రోబోట్సు
Name[tg]=Роботҳо
Name[th]=โรบ็อตส์
Name[tr]=Robotlar
Name[ug]=ماشىنا ئادەم
Name[uk]=Роботи
Name[vi]=Rô-bốt
Name[wa]=Robots
Name[xh]=Izibane Zendlela
Name[zh_CN]=机器人
Name[zh_HK]=機械人
Name[zh_TW]=機器人
Comment=Avoid the robots and make them crash into each other
Comment[af]=Vermy die robotte en laat hulle teen mekaar bots
Comment[ar]=تفادي الروبوتات وجعلهم يصطدمون في بعضهم البعض
Comment[as]=ৰোবটগুলোকে এড়িয়ে চলক আৰুসেগুলোকে একে অপৰেৰ ওপৰ বিধ্বস্ত কৰক
Comment[ast]=Esquiva los robots y fai que choquen entre ellos
Comment[az]=Robotlardan qaçın və onları birbirinə dəydirərək partladın
Comment[be]=Пазбягай робатаў і саштурхоўвай іх адно з адным
Comment[bg]=Бягане от роботи, така че да се сблъскват едни с други
Comment[bn]=রোবটগুলোকে এড়িয়ে চলুন এবং সেগুলোকে একে অপরের ওপর বিধ্বস্ত করুন
Comment[bn_IN]=রোবটগুলোকে এড়িয়ে চলুন এবং সেগুলোকে একে অপরের ওপর বিধ্বস্ত করুন
Comment[bs]=Izbjegavajte robote i potrudite se da se sudare
Comment[ca]=Eviteu els robots i feu que xoquin entre ells
Comment[ca@valencia]=Eviteu els robots i feu que xoquin entre ells
Comment[cs]=Utíkejte před roboty a nechte je do sebe navzájem narážet
Comment[cy]=Osgoi'r robotiaid a gwneud iddynt fwrw i'w gilydd
Comment[da]=Undgå robotterne og få dem til at støde ind i hinanden
Comment[de]=Meiden Sie die Roboter und lassen Sie sie ineinanderkrachen
Comment[dz]=འཕྲུལ་མི་ཚུ་ལས་ཟུར་ཏེ་ དེ་ཚུ་གཅིག་གིས་གཅིག་གུ་ བརྡབ་འཁྲུག་འབད་བཅུག
Comment[el]=Αποφύγετε τα ρομπότ και κάντε τα να συγκρουστούν μεταξύ τους
Comment[en@shaw]=𐑩𐑝𐑶𐑛 𐑞 𐑮𐑴𐑚𐑪𐑑𐑕 𐑯 𐑥𐑱𐑒 𐑞𐑧𐑥 𐑒𐑮𐑨𐑖 𐑦𐑯𐑑𐑫 𐑰𐑗 𐑳𐑞𐑼
Comment[en_CA]=Avoid the robots and make them crash into each other
Comment[en_GB]=Avoid the robots and make them crash into each other
Comment[eo]=Evitu la robotojn kaj faru tiel, ke ili kunfrapiĝas
Comment[es]=Esquive los robots y haga que choquen entre ellos
Comment[et]=Hoidu robotite eest ja proovi neid meelitada omavahel kokku põrkama
Comment[eu]=Saihestu robotak, eta robotei elkarrekin talka eginarazi
Comment[fa]=از روبات‌ها دوری کنید و کاری کنید که با هم تصادف کنند
Comment[fi]=Välttele robotteja ja ohjaa ne tuhoutumaan toisiinsa
Comment[fr]=Éviter les robots et faites-les s’écraser les uns sur les autres
Comment[fur]=Scjampe dai robots e fâsiju trussâ l'un cul altri
Comment[gl]=Evitar os robots e facer que choquen entre eles
Comment[gu]=યંત્ર માનવોને અવગણો અને તેમને એકબીજામાં ભટકાવો
Comment[he]=התחמקות מהרובוטים וכך לגרום להם להתנגש אחד בשני
Comment[hi]=रोबॉट्स से दूर रहें और उन्हें आपस में टकराने दें
Comment[hr]=Izbjegavajte robote i potrudite se da se međusobno sudare
Comment[hu]=Kerülje el a robotokat és ütköztesse egymásnak őket
Comment[id]=Hindari robot dan buat mereka menabrak satu sama lain
Comment[is]=Forðastu vélmennin og láttu þau rekast á hvert annað
Comment[it]=Evita i robot e falli scontrare uno con l'altro
Comment[ja]=ロボットをうまくかわしてロボット同士をぶつけよう
Comment[km]=ជៀសវាង​មនុស្សយន្ត និង​ជៀសវាង​ធ្វើ​ឲ្យ​វា​គាំង
Comment[kn]=ಯಂತ್ರಮಾನವರಿಂದ ತಪ್ಪಿಸು ಹಾಗು ಅವುಗಳೆ ಒಬ್ಬರಿಗೊಬ್ಬರು ಢಿಕ್ಕಿಯಾಗುವಂತೆ ಮಾಡಿ
Comment[ko]=로봇을 피해 서로 부딪혀 부서지도록 합니다
Comment[lt]=Išvenkite robotų ir sudaužykite juos vieną su kitu
Comment[lv]=Izvairies no robotiem un lieciet viņiem saskrieties vienam ar otru
Comment[mai]=रोबोट सँ दूर रहू आओर ओकरा आपसमे टकराबै दिअ'
Comment[mk]=Избегнувајте ги роботите и принудете ги да се судрат едни со други
Comment[ml]=റോബോട്ടുകളില്‍ നിന്ന് രക്ഷപ്പെട്ട് അവയെ തമ്മില്‍ കൂടിയിടിപ്പിക്കുക 
Comment[mr]=रोबोट्स चुकवा आणि त्यांना एकमेकांवर आपटवा
Comment[nb]=Unngå roboter og få dem til å krasje med hverandre
Comment[ne]=रोबोटलाई हटाउनुहोस् र एक आपसमा क्र्यास गर्न दिनुहोस्
Comment[nl]=Vermijd de robots en laat ze op elkaar botsen
Comment[nn]=Unngå robotane og få dei til å krasja inn i kvarandre
Comment[oc]=Evitar los robòts e fasètz-los s'espotir los uns suls autres
Comment[or]=ରୋବଟଗୁଡିକୁ ବାଦ ଦିଏ ଏବଂ ସେମାନଙ୍କୁ ପରସ୍ପର ମଧ୍ଯରେ ଧକ୍କା ହେବାକୁ ଦିଅ ୤
Comment[pa]=ਰੋਬੋਟਾਂ ਤੋਂ ਬਚੋ ਅਤੇ ਉਹਨਾਂ ਨੂੰ ਇੱਕ-ਦੂਜੇ ਨਾਲ ਨਸ਼ਟ ਹੋਣ ਦਿਓ
Comment[pl]=Unikanie robotów i sprawianie, że zderzają się między sobą
Comment[pt]=Evite os robôs e faça-os colidir uns com os outros
Comment[pt_BR]=Evite os robôs e faça eles colidirem uns nos outros
Comment[ro]=Evitați roboții și determinații să intre în coliziune unii cu alții
Comment[ru]=Убегайте от роботов, заставляя их сталкиваться друг с другом. 
Comment[si]=රොබෝවරු මඟහරිමින් ඔවුන් එකිනෙකා හප්පන්න
Comment[sk]=Vyhnite sa robotom a prinúťte ich, aby do seba navzájom narazili
Comment[sl]=Izogibajte se robotom in poskrbite, da se zaletijo en v drugega
Comment[sq]=Shmang robotët dhe bëji të përplasen me njëri tjetrin
Comment[sr]=Избегавајте роботе и потрудите се да се сударе
Comment[sr@latin]=Izbegavajte robote i potrudite se da se sudare
Comment[sv]=Undvik robotarna och få dem att krocka med varandra
Comment[ta]=ரோபார்டை தவிர் மேலும் அவை ஒன்றின் மேல் ஒன்று நொறுங்கும் வகையில் அமை
Comment[te]=రోబోట్సును వేరుచేయండి మరియు అవి వొకదానికి వొకటి గుద్దుకొనునట్లు చేయండి
Comment[th]=หนีหุ่นยนต์ หลอกให้มันชนกันเอง
Comment[tr]=Robotlardan kaçın ve onların birbirlerine çarpmalarını sağlayın
Comment[ug]=ماشىنا ئادەملەردىن ئۆزىنى تارتىپ ئۇلارنى ئۆزئارا سوقۇشتۇر
Comment[uk]=Уникати роботів і робити так, щоб вони зіштовхувались
Comment[vi]=Tránh các rô-bốt và làm cho chúng đâm sầm vào nhau
Comment[xh]=Phepha izibane zendlela uze uzenze zingqubane
Comment[zh_CN]=避免碰到机器人并让它们撞在一起
Comment[zh_HK]=避開機械人，並引導它們互相碰撞
Comment[zh_TW]=避開機器人，並引導它們互相碰撞
Keywords=game;arcade;teleport;
Keywords[be]=гульня;аркадная гульня;тэлепартацыя;
Keywords[bg]=телепорт;роботи;сблъсъци;game;arcade;teleport;
Keywords[bs]=igra;arkada;teleport;
Keywords[ca]=joc;arcade;teleportació;
Keywords[ca@valencia]=joc;arcade;teleportació;
Keywords[cs]=hra;arkádová;teleportace;
Keywords[da]=spil;arcade;teleportere;teleport;teleportation;
Keywords[de]=Spiel;Arcade;Teleport;
Keywords[el]=παιχνίδι;τηλεμεταφορά;game;arcade;teleport;
Keywords[en_GB]=game;arcade;teleport;
Keywords[es]=juego;arcade;teletransporte;
Keywords[et]=mäng;mänguautomaat;teleportimine;
Keywords[eu]=jokoa;arkade;aldendu;
Keywords[fa]=بازی;گذرگاه;تله پورت;
Keywords[fi]=game;arcade;teleport;peli;pelihalli;teleportti;
Keywords[fr]=jeu;arcade;téléportation;
Keywords[fur]=zûc;arcade;teletraspuart;
Keywords[gl]=xogo;arcade;teletransporte;
Keywords[he]=משחק;ארקייד;עלילה;שיגור;טלפורט;
Keywords[hi]=game;arcade;teleport;
Keywords[hr]=igra;arkada;teleportacija;
Keywords[hu]=játék;ügyességi;teleport;
Keywords[id]=permainan;arcade;teleport;
Keywords[is]=leikur;borðspil;stökkva;hreyfa;
Keywords[it]=gioco;giochi;arcade;teletrasporto;
Keywords[ja]=game;arcade;teleport;ゲーム;アーケード;テレポート;テレポーテーション;puzzle;パズル;
Keywords[ko]=game;게임;arcade;아케이드;teleport;텔레포트;순간이동;
Keywords[lt]=žaidimas;arkada;teleportacija;
Keywords[lv]=spēle;arkāde;teleportācija;
Keywords[ml]=കളി;ആര്‍ക്കേഡ്;ടെലിപ്പോര്‍ട്ട്;
Keywords[nb]=spill;arcade;teleportering;
Keywords[nl]=game;arcade;teleport;spel;teleporteren;
Keywords[oc]=jòc;arcada;teleportacion;
Keywords[pl]=gra;gierka;zręcznościowa;zręczność;arcade;teleport;
Keywords[pt]=jogo;arcada;teletransporte;
Keywords[pt_BR]=game;jogo;jogos;arcade;teletransporte;
Keywords[ru]=игра;аркада;телепорт;
Keywords[sk]=hra;arkáda;teleport;
Keywords[sl]=igra;arkadna;teleportiranje;
Keywords[sr]=роботи;игра;аркадна;телепортовање;пренос на даљину;
Keywords[sr@latin]=roboti;igra;arkadna;teleportovanje;prenos na daljinu;
Keywords[sv]=spel;arkad;teleport;
Keywords[ta]=விளையாட்டு;ஆர்கேட்;டெலிபோர்ட்;
Keywords[tr]=oyun;arcade;teleport;ışınlanma;
Keywords[uk]=гра;аркада;телепорт;
Keywords[zh_CN]=game;arcade;teleport;游戏;街机;模拟器;瞬间移动;传送;
Keywords[zh_HK]=game;arcade;teleport;遊戲;瞬間移動;
Keywords[zh_TW]=game;arcade;teleport;遊戲;瞬間移動;
Exec=gnome-robots
Icon=gnome-robots
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;ArcadeGame;
StartupNotify=true
