[Desktop Entry]
Name[af]=Myne
Name[an]=Minas
Name[ar]=ألغام
Name[as]=মাইন
Name[ast]=Mines
Name[az]=Minalar
Name[be]=Мінёр
Name[bg]=Мини
Name[bn]=মাইন
Name[bn_IN]=মাইন
Name[br]=Mines
Name[bs]=Mine
Name[ca]=Mines
Name[ca@valencia]=Mines
Name[cs]=Miny
Name[cy]=Ffrwydron
Name[da]=Minestryger
Name[de]=Minen
Name[dz]=མ་ཡིནསི།
Name[el]=Νάρκες
Name[en_CA]=Mines
Name[en_GB]=Mines
Name[en@shaw]=𐑥𐑲𐑯𐑟
Name[eo]=Minoj
Name[es]=Minas
Name[et]=Miiniväli
Name[eu]=Minak
Name[fa]=مین‌ها
Name[fi]=Miinaharava
Name[fr]=Mines
Name[fur]=Minis
Name[ga]=Mianaigh
Name[gl]=Minas
Name[gu]=વિસ્ફોટકો
Name[he]=מוקשים
Name[hi]=सुरंग
Name[hr]=Mine
Name[hu]=Aknakereső
Name[id]=Ranjau
Name[is]=Sprengjuleit
Name[it]=Mine
Name[ja]=GNOME マインスイーパー
Name[km]=មីន
Name[kn]=ಮೈನ್‍ಗಳು
Name[ko]=지뢰찾기
Name[lt]=Minos
Name[lv]=Mīnas
Name[mai]=सुरंग
Name[mk]=Mines
Name[ml]=കുഴിബോംബുകള്‍
Name[mn]=Тэслэлт
Name[mr]=माइन्स
Name[ms]=Mines
Name[nb]=Miner
Name[ne]=खानी
Name[nl]=Mijnenveger
Name[nn]=Miner
Name[oc]=Minas
Name[or]=ମାଇନଗୁଡିକ
Name[pa]=ਸੁਰੰਗਾਂ
Name[pl]=Miny
Name[pt]=Minas
Name[pt_BR]=Minas
Name[ro]=Mine
Name[ru]=Сапёр
Name[si]=බිම් බෝම්බ
Name[sk]=Míny
Name[sl]=Mine
Name[sq]=Minat
Name[sr]=Мине
Name[sr@latin]=Mine
Name[sv]=Minor
Name[ta]=கண்ணிவெடிகள்
Name[te]=గనులు
Name[th]=กับระเบิด
Name[tr]=Mayınlar
Name[ug]=مىنا ئويۇنى
Name[uk]=Міни
Name[vi]=Dò mìn
Name[wa]=Tchamp d' menes
Name[xh]=Iimayini
Name[zh_CN]=扫雷
Name[zh_HK]=拆地雷
Name[zh_TW]=拆地雷
Name=Mines
Comment[af]=Verwyder versteekte myne van 'n mynveld
Comment[an]=Escosque de minas o campo minado
Comment[ar]=مسح ألغام من حقل ألغام
Comment[as]=Clear
Comment[ast]=Llimpiar mines ocultes del campu de mines
Comment[be]=Ачысціце поле ад схаваных мінаў
Comment[bg]=Почистете мините, скрити в минното поле
Comment[bn]=মাইনক্ষেত্রে থেকে লুকোনো মাইন সরিয়ে ফেলুন
Comment[bn_IN]=মাইনক্ষেত্রে থেকে লুকোনো মাইন সরিয়ে ফেলুন
Comment[bs]=Očisti skrivene mine sa minskog polja
Comment[ca]=Netegeu les mines ocultes del camp de mines
Comment[ca@valencia]=Netegeu les mines ocultes del camp de mines
Comment[cs]=Vyčistěte skryté miny z minového pole
Comment[cy]=Clirio ffrwydron cudd o faes ffrwydron
Comment[da]=Ryd skjulte miner fra et minefelt
Comment[de]=Versteckte Minen aus einem Minenfeld räumen
Comment[dz]=གས་རྫས་ས་སྒོ་ནང་ལས་  གས་རྫས་ཚུ་བསལ་གཏང་།
Comment[el]=Αφαίρεση κρυμμένων ναρκών από το ναρκοπέδιο
Comment[en_CA]=Clear hidden mines from a minefield
Comment[en_GB]=Clear hidden mines from a minefield
Comment[en@shaw]=𐑒𐑤𐑽 𐑣𐑦𐑛𐑩𐑯 𐑥𐑲𐑯𐑟 𐑓𐑮𐑪𐑥 𐑩 𐑥𐑲𐑯𐑓𐑰𐑤𐑛
Comment[eo]=Kvitigu kaŝitajn minojn de minplena kampo
Comment[es]=Limpie de minas el campo minado
Comment[et]=Miinivälja puhastamine sinna peidetud miinidest
Comment[eu]=Zedarritu mina-eremuko minak
Comment[fa]=پاک‌سازی مین‌ها از میدان مین
Comment[fi]=Puhdista piilotetut miinat miinakentältä
Comment[fr]=Nettoyer un champ de mines de ses mines cachées
Comment[fur]=Smine un cjamp di minis
Comment[gl]=Limpar as minas agochadas do campo minado
Comment[gu]=ખાણક્ષેત્રમાંથી છુપા ગોળાઓ સાફ કરો
Comment[he]=ניקוי מוקשים חבויים משדה מוקשים
Comment[hi]=सुरंग भूमि से छुपे सुरंगों को मिटाएँ
Comment[hr]=Uklonite skrivene mine iz minskog polja
Comment[hu]=Elrejtett aknák eltávolítása az aknamezőről
Comment[id]=Kosongkan ranjau tersembunyi dari medan ranjau
Comment[is]=Hreinsa faldar sprengjur af sprengjusvæði
Comment[it]=Scova le mine nascoste in un campo minato
Comment[ja]=地雷原から見えない地雷を除去してください
Comment[km]=សម្អាត​មីន​ដែល​បាន​លាក់​ពី​វាល​កប់មីន
Comment[kn]=ಅಡಗಿಸಲಾದ ಮೈನ್‌ಗಳನ್ನು ಮೈನ್‌ಫೀಲ್ಡಿನಿಂದ ತೆರವುಗೊಳಿಸು
Comment[ko]=지뢰밭에서 숨겨진 지뢰를 제거합니다
Comment[lt]=Išvalykite lauką nuo paslėptų minų
Comment[lv]=Notīrīt apslēptas mīnas no laukuma
Comment[mai]=सुरंग भूमि सँ नुकल सुरंगकेँ मेटाबू
Comment[mk]=Исчисти ги мините од минското поле
Comment[ml]=യുദ്ധഭൂമിയില്‍നിന്ന് കുഴിബോംബുകള്‍ എടുത്ത് മാറ്റുക
Comment[mr]=माइनफील्डमधून लपलेल्या माइन्स काढा
Comment[nb]=Fjern skjulte miner fra et minefelt
Comment[ne]=खानी फिल्डबाट लुकेका खानी हटाउनुहोस्
Comment[nl]=Zoek de mijnen in een mijnenveld
Comment[nn]=Fjern skjulte miner frå eit minefelt
Comment[oc]=Netejar un camp de minas de sas minas amagadas
Comment[or]=ଗୋଟିଏ ମାଇନ କ୍ଷେତ୍ରରୁ ଲୁକ୍କାଯୀତ ମାଇନ ଗୁଡିକୁ ପରିଷ୍କାର କର
Comment[pa]=ਸੁਰੰਗ-ਖੇਤਰ ਵਿੱਚੋਂ ਸੁਰੰਗਾਂ ਖਾਲੀ ਕਰੋ
Comment[pl]=Oczyszczanie pola minowego z ukrytych min
Comment[pt]=Limpar as minas escondidas num campo minado
Comment[pt_BR]=Limpe as minas de um campo minado
Comment[ro]=Găsește minele de pe un câmp minat
Comment[ru]=Поиск мин на минном поле
Comment[si]=බිම් බෝම්බ කළාපයකින් බිම් බෝම්බ ඉවත් කරන්න
Comment[sk]=Odhaľte skryté míny v mínovom poli
Comment[sl]=Očistite minsko polje skritih min
Comment[sr]=Очистите скривене мине са минског поља
Comment[sr@latin]=Očistite skrivene mine sa minskog polja
Comment[sv]=Rensa dolda minor från ett minfält
Comment[ta]=பிதைந்து உள்ள கண்ணிவெடிகளை அகற்றவும்
Comment[te]=గనిక్షేత్రమునుండి మరుగునపరిచిన గనులను శుభ్రముచేయి
Comment[th]=กู้กับระเบิดที่ซ่อนอยู่จากสนาม
Comment[tr]=Mayın alanından gizli mayınları temizle
Comment[ug]=مىنا مەيدانىدىن يوشۇرۇن مىنالارنى تازىلايدۇ
Comment[uk]=Очистити мінне поле від прихованих мін
Comment[vi]=Xóa mọi quả mìn bị ẩn ra khỏi bãi mìn
Comment[zh_CN]=扫除雷区里的隐藏的地雷
Comment[zh_HK]=清除方格陣中的隱藏的地雷
Comment[zh_TW]=清除方格陣中的隱藏的地雷
Comment=Clear hidden mines from a minefield
Exec=gnome-mines
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[be]=gnome-mines
Icon[bg]=gnome-mines
Icon[ca]=gnome-mines
Icon[ca@valencia]=gnome-mines
Icon[cs]=gnome-mines
Icon[da]=gnome-mines
Icon[de]=gnome-mines
Icon[el]=gnome-mines
Icon[es]=gnome-mines
Icon[eu]=gnome-mines
Icon[fa]=مین‌های گنوم
Icon[fi]=gnome-mines
Icon[fr]=gnome-mines
Icon[fur]=gnome-mines
Icon[gl]=gnome-mines
Icon[hr]=gnome-mines
Icon[hu]=gnome-mines
Icon[id]=gnome-mines
Icon[is]=gnome-mines
Icon[it]=gnome-mines
Icon[ko]=gnome-mines
Icon[lt]=gnome-mines
Icon[lv]=gnome-mines
Icon[ml]=gnome-mines
Icon[nb]=gnome-mines
Icon[ne]=gnome-mines
Icon[nl]=gnome-mines
Icon[pl]=gnome-mines
Icon[pt_BR]=gnome-mines
Icon[ru]=gnome-mines
Icon[sk]=gnome-mines
Icon[sl]=gnome-mines
Icon[sr]=gnome-mines
Icon[sr@latin]=gnome-mines
Icon[sv]=gnome-mines
Icon[tr]=gnome-mines
Icon[vi]=gnome-mines
Icon[zh_CN]=gnome-mines
Icon[zh_TW]=gnome-mines
Icon=gnome-mines
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[an]=buscaminas;
Keywords[ar]=minesweeper; كانسة ألغام; كانسة الألغام;
Keywords[be]=мінёр;
Keywords[bg]=мини;миночистач;бомби;minesweeper;
Keywords[bs]=minolovac;
Keywords[ca]=pescamines;
Keywords[ca@valencia]=pescamines;
Keywords[cs]=odminování;hledání min;
Keywords[da]=minestryger;
Keywords[de]=Minesweeper;Mine;Spiel;Puzzle;
Keywords[el]=ναρκαλιευτής;minesweeper;
Keywords[en_GB]=minesweeper;
Keywords[eo]=minoforiga;
Keywords[es]=buscaminas;
Keywords[et]=minesweeper;miiniväli;
Keywords[eu]=dragamina;
Keywords[fa]=minesweeper;مین‌یاب;
Keywords[fi]=minesweeper;miinat;miinaharava;
Keywords[fr]=démineur;
Keywords[fur]=minesweeper;minis;
Keywords[gl]=busca minas;
Keywords[he]=שולה מוקשים;
Keywords[hi]=minesweeper;
Keywords[hr]=minesweeper;
Keywords[hu]=aknakereső;
Keywords[id]=penyapu ranjau;
Keywords[is]=minesweeper;sprengjuleit;
Keywords[it]=minesweeper;mine;
Keywords[ja]=minesweeper;マインスイーパー;game;ゲーム;logic;ロジック;論理;puzzle;パズル;Mines;地雷;
Keywords[km]=minesweeper;
Keywords[ko]=minesweeper;지뢰찾기;
Keywords[lt]=išminuotojas;
Keywords[lv]=minesweeper;mīnu lauks;mīnas;
Keywords[ml]=minesweeper;
Keywords[nb]=minesveiper;
Keywords[ne]=माइनस्विपर;
Keywords[nl]=minesweeper;mijnenveger;
Keywords[oc]=desminaire;
Keywords[pa]=ਸੁਰੰਗਾਂ ਸਾਫ਼ ਕਰਤਾ;
Keywords[pl]=minesweeper;saper;
Keywords[pt]=minesweeper;
Keywords[pt_BR]=campo minado;
Keywords[ru]=сапёр;
Keywords[sk]=hľadanie mín, míny;
Keywords[sl]=minolovec;
Keywords[sr]=мине;миноловац;
Keywords[sr@latin]=mine;minolovac;
Keywords[sv]=minröjning;
Keywords[ta]=மைஸ்வீப்பர்;
Keywords[th]=กับระเบิด;
Keywords[tr]=mayın tarlası;
Keywords[ug]=مىنا تازىلاش;
Keywords[uk]=мінер;
Keywords[vi]=minesweeper;dò mìn;do min;
Keywords[zh_CN]=minesweeper;扫雷;
Keywords[zh_HK]=minesweeper;踩地雷;
Keywords[zh_TW]=minesweeper;踩地雷;
Keywords=minesweeper;
StartupNotify=true
Actions=Small;Medium;Big;

[Desktop Action Small]
Name[an]=Tablero chicot
Name[be]=Маленькая дашка
Name[bg]=Малка дъска
Name[bs]=Malo područje
Name[ca]=Tauler petit
Name[ca@valencia]=Tauler petit
Name[cs]=Malá herní deska
Name[da]=Lille bræt
Name[de]=Kleines Spielfeld
Name[el]=Μικρός πίνακας
Name[en_GB]=Small board
Name[eo]=Eta tabulo
Name[es]=Tablero pequeño
Name[eu]=Taula txikia
Name[fa]=تخته کوچک
Name[fi]=Pieni lauta
Name[fr]=Petite grille
Name[fur]=Taule piçule
Name[gl]=Taboleiro pequeno
Name[he]=לוח קטן
Name[hr]=Mala ploča
Name[hu]=Kis tábla
Name[id]=Papan kecil
Name[is]=Lítið borð
Name[it]=Campo piccolo
Name[kk]=Кішкентай тақта
Name[ko]=작은 게임판
Name[lt]=Maža lenta
Name[lv]=Mazs galdiņš
Name[ml]=ചെറിയ ബോര്‍ഡ്
Name[nb]=Lite brett
Name[ne]=सानो बोर्ड
Name[nl]=Klein bord
Name[oc]=Pichona grasilha
Name[pl]=Mała plansza
Name[pt]=Pequeno
Name[pt_BR]=Tabuleiro pequeno
Name[ru]=Маленькое поле
Name[sk]=Malé hracie pole
Name[sl]=Majhno polje
Name[sr]=Мала табла
Name[sr@latin]=Mala tabla
Name[sv]=Liten spelplan
Name[tr]=Küçük tahta
Name[uk]=Маленька дошка
Name[vi]=Bàn nhỏ
Name[zh_CN]=小号板面
Name[zh_TW]=小型棋盤
Name=Small board
Exec=gnome-mines --small

[Desktop Action Medium]
Name[an]=Tablero mediano
Name[be]=Сярэдняя дашка
Name[bg]=Средна дъска
Name[bs]=Područje srednje veličine
Name[ca]=Tauler mitjà
Name[ca@valencia]=Tauler mitjà
Name[cs]=Střední herní deska
Name[da]=Mellemstort bræt
Name[de]=Mittelgroßes Spielfeld
Name[el]=Μεσαίος πίνακας
Name[en_GB]=Medium board
Name[eo]=Meza tabulo
Name[es]=Tablero mediano
Name[eu]=Taula ertaina
Name[fa]=تخته متوسط
Name[fi]=Normaali lauta
Name[fr]=Grille moyenne
Name[fur]=Taule medie
Name[gl]=Taboleiro mediano
Name[he]=לוח בינוני
Name[hr]=Srednja ploča
Name[hu]=Közepes tábla
Name[id]=Papan sedang
Name[is]=Miðlungs
Name[it]=Campo medio
Name[kk]=Орташа тақта
Name[ko]=중간 게임판
Name[lt]=Vidutinė lenta
Name[lv]=Vidējs galdiņš
Name[ml]=ഇടത്തരം ബോര്‍ഡ്
Name[nb]=Middels brett
Name[ne]=मध्यम बोर्ड
Name[nl]=Gemiddeld bord
Name[oc]=Grasilha mejana
Name[pl]=Średnia plansza
Name[pt]=Médio
Name[pt_BR]=Tabuleiro médio
Name[ru]=Среднее поле
Name[sk]=Stredne veľké hracie pole
Name[sl]=Srednje polje
Name[sr]=Средња табла
Name[sr@latin]=Srednja tabla
Name[sv]=Mellanstor spelplan
Name[tr]=Orta boy tahta
Name[uk]=Середня дошка
Name[vi]=Bàn vừa
Name[zh_CN]=中等版面
Name[zh_TW]=中型棋盤
Name=Medium board
Exec=gnome-mines --medium

[Desktop Action Big]
Name[an]=Tablero gran
Name[be]=Вялікая дашка
Name[bg]=Голяма дъска
Name[bs]=Veliko područje
Name[ca]=Tauler gran
Name[ca@valencia]=Tauler gran
Name[cs]=Velká herní deska
Name[da]=Stort bræt
Name[de]=Großes Spielfeld
Name[el]=Μεγάλος πίνακας
Name[en_GB]=Big board
Name[eo]=Granda tabulo
Name[es]=Tablero grande
Name[eu]=Taula handia
Name[fa]=تخته بزرگ
Name[fi]=Suuri lauta
Name[fr]=Grande grille
Name[fur]=Taule grande
Name[gl]=Taboleiro grande
Name[he]=לוח גדול
Name[hr]=Velika ploča
Name[hu]=Nagy tábla
Name[id]=Papan besar
Name[is]=Stórt borð
Name[it]=Campo grande
Name[ko]=큰 게임판
Name[lt]=Didelė lenta
Name[lv]=Liels galdiņš
Name[ml]=വലിയ ബോര്‍ഡ്
Name[nb]=Stort brett
Name[ne]=ठूलोबोर्ड
Name[nl]=Groot bord
Name[oc]=Granda grasilha
Name[pl]=Duża plansza
Name[pt]=Grande
Name[pt_BR]=Tabuleiro grande
Name[ru]=Большое поле
Name[sk]=Veľké hracie pole
Name[sl]=Veliko polje
Name[sr]=Велика табла
Name[sr@latin]=Velika tabla
Name[sv]=Stor spelplan
Name[tr]=Büyük tahta
Name[uk]=Велика дошка
Name[vi]=Bàn lớn
Name[zh_CN]=大号版面
Name[zh_TW]=大型棋盤
Name=Big board
Exec=gnome-mines --big
