[Desktop Entry]
Name=Tetravex
Name[af]=Tetravex
Name[an]=Tetravex
Name[ar]=تترافكس
Name[as]=ট্ৰাভেক্স খেলা
Name[ast]=Tetravex
Name[az]=Tetravex
Name[be]=Tetravex
Name[bg]=Четворно домино
Name[bn]=টেট্রাভেক্স খেলা
Name[bn_IN]=ট্রাভেক্স খেলা
Name[br]=Tetravex
Name[bs]=Tetraveks
Name[ca]=Tetravex
Name[ca@valencia]=Tetravex
Name[cs]=Tetravex
Name[cy]=Tetravex
Name[da]=Tetravex
Name[de]=Tetravex
Name[dz]=ཊེ་ཊ་བེགསི།
Name[el]=Τετραβέξ
Name[en_CA]=Tetravex
Name[en_GB]=Tetravex
Name[eo]=Tetravekso
Name[es]=Tetravex
Name[et]=Tetravex
Name[eu]=Tetravex
Name[fa]=تِتراوِکس
Name[fi]=Tetravex
Name[fr]=Tetravex
Name[fur]=Tetravex
Name[ga]=Tetravex
Name[gl]=Tetravex
Name[gu]=ટેટ્રાવૅક્સ
Name[he]=ארבע צלעות Tetravex
Name[hi]=टेट्रावेक्स 
Name[hr]=Tetravex
Name[hu]=Tetravex
Name[id]=Tetravex
Name[is]=Tetravex
Name[it]=Tetravex
Name[ja]=Tetravex
Name[km]=Tetravex
Name[kn]=ಟೆಟ್ರಾವೆಕ್ಸ್‍
Name[ko]=테트라벡스
Name[lt]=Tetravex
Name[lv]=Tetravex
Name[mai]=टेट्रावेक्स
Name[mk]=Tetravex
Name[ml]=ടെട്രാവെക്സ്
Name[mn]=Дөрвөн талт
Name[mr]=टेट्राव्हेक्स
Name[ms]=Tetravex
Name[nb]=Tetravex
Name[ne]=टेट्राभेक्स
Name[nl]=Tetravex
Name[nn]=Tetravex
Name[oc]=Tetravex
Name[or]=ଟେଟ୍ରାଭେକ୍ସ
Name[pa]=ਟੈਟਰਾਵੈਕਸ
Name[pl]=Tetravex
Name[pt]=Tetravex
Name[pt_BR]=Tetravex
Name[ro]=Tetravex
Name[ru]=Тетравекс
Name[si]=අංක ප්‍රහේලිකාව
Name[sk]=Tetravex
Name[sl]=Tetravex
Name[sq]=Tetravex
Name[sr]=Слагалица
Name[sr@latin]=Slagalica
Name[sv]=Tetravex
Name[ta]=டெட்ராவெக்ஸ்
Name[te]=టెట్రావెక్స్
Name[th]=Tetravex
Name[tr]=Tetravex
Name[ug]=Tetravex
Name[uk]=Тетравекс
Name[vi]=Tetravex
Name[wa]=Tetravex
Name[xh]=I-Tetravex
Name[zh_CN]=四邻
Name[zh_HK]=數字拼圖
Name[zh_TW]=數字拼圖
Comment=Complete the puzzle by matching numbered tiles
Comment[af]=Voltooi die raaisel deur die genommerde teëls bymekaar te pas
Comment[an]=Complete o puzle fendo coincidir as recholas numeradas
Comment[ar]=قم بإكمال الأحجية عن طريق مقارنة البلاط المرقّم
Comment[as]=সম্পন্ন
Comment[ast]=Completa'l puzzle faciendo coincidir les baldoses numberaes
Comment[be]=Вырашыце галаваломку, складваючы аднолькавыя лічбы на фішках
Comment[bg]=Главоблъсканицата се решава като плочките се наредят и числата съвпаднат
Comment[bn]=সংখ্যায়িত টাইল মেলানোর মাধ্যমে পাজল সমাধান করুন
Comment[bs]=Složi slagalicu poklapanjem istih brojeva
Comment[ca]=Completeu el trencaclosques fent coincidint les fitxes
Comment[ca@valencia]=Completeu el trencaclosques fent coincidint les fitxes
Comment[cs]=Vyřešte skládačku spojováním očíslovaných dlaždic
Comment[cy]=Gorffennwch y pos drwy baru'r teils rhif
Comment[da]=Fuldfør spillet ved at samle brikker så tilstødende numre er ens
Comment[de]=Durch Zusammenfügen von nummerierten Kacheln das Puzzle lösen
Comment[dz]=ཨང་བཀོད་ཊ་ཡེལ་ཚུ་ མཐུན་སྒྲིག་འབད་བའི་ཐོག་ལས་ སྒྲིག་རྩེད་དེ་མཇུག་བསྡུ།
Comment[el]=Ολοκληρώστε το πρόβλημα ταιριάζοντας αριθμημένα πλακίδια
Comment[en@shaw]=𐑒𐑩𐑥𐑐𐑤𐑰𐑑 𐑞 𐑐𐑳𐑟𐑩𐑤 𐑚𐑲 𐑥𐑨𐑗𐑦𐑙 𐑯𐑳𐑥𐑚𐑼𐑛 𐑑𐑲𐑤𐑟
Comment[en_CA]=Complete the puzzle by matching numbered tiles
Comment[en_GB]=Complete the puzzle by matching numbered tiles
Comment[eo]=Finu la puzlon per kongruigi numeritajn kahelojn
Comment[es]=Complete el puzle haciendo coincidir las baldosas numeradas
Comment[et]=Numbritega mänguklotside vastavusse kombineerimise mäng
Comment[eu]=Jokoa osatzeko, zenbaki berdineko fitxak elkarren ondoan jarri behar dira
Comment[fa]=پازل را با عنوان‌های عددی مطابق کامل کنید
Comment[fi]=Täydennä palapeli vastaavasti numeroiduilla paloilla
Comment[fr]=Compléter le puzzle en faisant correspondre les pièces numérotées
Comment[fur]=Finìs il berdei cumbinant lis tessaris numeradis
Comment[gl]=Complete o quebracabezas facendo coincidir as pezas numeradas
Comment[gu]=નંબરવાળી તકતીઓ સરખાવીને કોયડો પૂર્ણ કરો
Comment[he]=פתרון התצרף על ידי התאמת האריחים הממוספרים
Comment[hi]=संख्या शीर्षक मिलान से पज़ल पूरा करें
Comment[hu]=Oldja meg a fejtörőt az egyező számok összeillesztésével
Comment[id]=Selesaikan teka-teki dengan menyesuaikan kotak bernomor
Comment[it]=Completa il rompicapo abbinando le tessere numerate
Comment[ja]=同じ数字が隣接するように並べながらパズルを完成させてください
Comment[km]=បំពេញ​​ល្បែង​ផ្គុំ​រូប​ដោយ​ផ្គូផ្គង​​ក្រឡា​ក្បឿង
Comment[kn]=ಸಂಖ್ಯೆಯ ಇಟ್ಟಿಗೆಗಳನ್ನು ಹೊಂದಿಸುವ ಮೂಲಕ ಈ ಸಮಸ್ಯೆಯನ್ನು ಬಿಡಿಸಿ
Comment[ko]=조각의 번호를 맞춰서 퍼즐을 풉니다
Comment[lt]=Užbaikite galvosūkį suradę atitinkamus numeruotus kauliukus
Comment[lv]=Pabeidz spēli, saliekot blakus kauliņus ar vienādiem skaitļiem
Comment[mai]=संख्या शीर्षक मिलान सँ पहेली पूरा करू
Comment[mk]=Завршете ја сложувалката со совпаѓање на нумерираните парчиња
Comment[ml]=ഒരേ നമ്പറുകളോട് കൂടിയ ടൈലുകള്‍ യോജിപ്പിച്ച് പസ്സില്‍ പൂര്‍ത്തിയാക്കുക
Comment[mr]=आकडे असलेले तुकडे जुळवून कोडे संपूर्ण सोडवा
Comment[nb]=Fullfør puslespillet ved å flytte på nummererte fliser
Comment[ne]=नम्बर दिएका टायल मिलाएर पजल पूरा गर्नुहोस्
Comment[nl]=Leg de puzzelstukjes zo dat gelijke cijfers elkaar raken
Comment[nn]=Fullfør puslespelet ved å flytta på nummererte fliser
Comment[oc]=Completar lo puzzle en fasent correspondre las pèças numérotées
Comment[or]=ସଂଖ୍ଯା ଦିଆୟାଇଥିବା ଟାଇଲଗୁଡିକୁ ମେଳ କରିବା ଦ୍ବାରା ଗୋଲକଧନ୍ଦାକୁ ସଂପୂର୍ଣ କର 
Comment[pa]=ਰਲਦੇ ਨੰਬਰਾਂ ਦੀਆਂ ਟਾਇਲਾਂ ਨਾਲ ਬੁਝਾਰਤ ਬੁੱਝੋ
Comment[pl]=Dopasowywanie numerowanych kafelków
Comment[pt]=Complete o quebra-cabeças fazendo coincidir as peças numeradas
Comment[pt_BR]=Complete o quebra-cabeças juntando os ladrilhos numerados
Comment[ro]=Completați jocul potrivind piesele numerotate.
Comment[ru]=Разгадайте головоломку, собирая совпадающие по номерам кусочки
Comment[si]=අංක සහිත කොටු ගැලපීමෙන් ප්‍රහේලිකාව විසදන්න
Comment[sk]=Vyriešte hlavolam spárovaním očíslovaných dlaždíc
Comment[sl]=Dokončajte sestavljenko s skladanjem oštevilčenih ploščic
Comment[sr]=Сложите слагалицу поклапањем истих бројева
Comment[sr@latin]=Složite slagalicu poklapanjem istih brojeva
Comment[sv]=Klara att lägga pusslet genom att matcha numrerade brickor
Comment[ta]=எண்கள் பொருந்தும் படி ஓடுகளை நகர்த்தி புதிரை முடி
Comment[te]=సంఖ్యీకరించిన పలకలను పోల్చుట ద్వారా ఫజిల్ పూర్తిచేయుము
Comment[th]=ต่อชิ้นส่วนปริศนาโดยเรียงกระเบื้องต่อกันให้ตัวเลขตรงกัน
Comment[tr]=Numaralandırılmış karoları eşleştirerek bulmacayı tamamla
Comment[ug]=رەقەملىك ئۇرۇقلارنى ماسلاشتۇرۇش ئارقىلىق تېپىشماقنى تاماملاڭ
Comment[uk]=Розв'яжіть головоломку, зібравши плиточки з однаковими номерами
Comment[vi]=Tạo xong hình ghép bằng cách khớp đá lát hiển thị số
Comment[zh_CN]=匹配编号的方块来完成谜题
Comment[zh_HK]=配對數字來完成拼圖
Comment[zh_TW]=配對數字來完成拼圖
Keywords=game;logic;board;
Keywords[an]=chuego;lochica;tablero;
Keywords[be]=гульня;логіка;лагічная гульня;настольная гульня;
Keywords[bg]=логическа;тетравекс;подредба;нареждане;tetravex;game;logic;board;
Keywords[bs]=igrica;logika;kartica;
Keywords[ca]=joc;lògica;tauler;
Keywords[ca@valencia]=joc;lògica;tauler;
Keywords[cs]=hra;logická;desková;
Keywords[da]=spil;logik;bræt;
Keywords[de]=Spiel;Logik;Brettspiel;
Keywords[el]=παιχνίδι;λογική;πίνακας;game;logic;board;
Keywords[en_GB]=game;logic;board;
Keywords[es]=juego;lógica;tablero;
Keywords[et]=mäng;loogika;lauamäng;
Keywords[eu]=jokoa;logika;taula;
Keywords[fa]=game;logic;board;بازی;منطق;تخته;
Keywords[fi]=game;logic;board;logiikka;lauta;peli;lautapeli;
Keywords[fr]=jeu;logique;plateau;
Keywords[fur]=zûc;zûcs;logjiche;board;taule;
Keywords[gl]=xogo;lóxica;taboleiro;
Keywords[he]=משחק;הגיון;היגיון;לוח;
Keywords[hi]=game;logic;board;
Keywords[hu]=játék;logika;tábla;
Keywords[id]=permainan;logika;papan;
Keywords[it]=gioco;giochi;logica;board;tavola;
Keywords[ja]=game;logic;board;ゲーム;ロジック;論理;ボード;puzzle;パズル;
Keywords[kk]=ойын;логикалық;тақта;
Keywords[ko]=game;게임;logic;논리;로직;board;보드;
Keywords[lt]=žaidimas;logika;lenta;
Keywords[lv]=spēle;loģika;galdiņš;
Keywords[ml]=കളി;യുക്തി;പലക;
Keywords[nb]=spill;logikk;brett;
Keywords[oc]=jòc;logica;platèu;
Keywords[pl]=gra;gierka;logiczna;logika;planszowa;plansza;
Keywords[pt]=jogo;lógica;tabuleiro;
Keywords[pt_BR]=game;jogo;jogos;lógica;tabuleiro;
Keywords[ru]=игра;логическая;настольная;
Keywords[sk]=hra;logická;stolová;logika;
Keywords[sl]=igra;logika;tabla;plošča;
Keywords[sr]=игра;логика;табла;
Keywords[sr@latin]=igra;logika;tabla;
Keywords[sv]=spel;logik;brädspel;
Keywords[ta]=விளையாட்டு;தர்க்கம்;பலகை;
Keywords[tr]=oyun;mantık;tahta;
Keywords[uk]=гра;логічна;настільна;
Keywords[zh_CN]=game;logic;board;游戏;逻辑;棋牌;
Keywords[zh_HK]=game;logic;board;遊戲;邏輯;桌面遊戲;
Keywords[zh_TW]=game;logic;board;遊戲;邏輯;桌面遊戲;
Exec=gnome-tetravex
Icon=gnome-tetravex
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
