[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - Red Alert
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Comment=Reimagining of early Westwood Games
Icon=openra-ra
Exec=openra-ra
Terminal=false
Categories=Game;StrategyGame;
