[Desktop Entry]
Type=Application
Version=1.0
Name=OpenRA - Dune 2000
GenericName=Real Time Strategy Game
GenericName[de]=Echtzeit-Strategiespiel
Comment=Reimagining of early Westwood Games
Icon=openra-d2k
Exec=openra-d2k
Terminal=false
Categories=Game;StrategyGame;
