[Desktop Entry]
Icon=gnome-taquin
Name=Taquin
Name[an]=Taquin
Name[bg]=Пет6найсе
Name[bs]=Peckalo
Name[ca]=Taquin
Name[ca@valencia]=Taquin
Name[cs]=Taquin
Name[da]=Taquin
Name[de]=Taquin
Name[el]=Taquin
Name[en_GB]=Taquin
Name[eo]=Takvino
Name[es]=Taquin
Name[eu]=Taquin
Name[fa]=تاکین
Name[fi]=Taquin
Name[fr]=Taquin
Name[fur]=Taquin
Name[gl]=Taquin
Name[he]=Taquin
Name[hr]=Taquin
Name[hu]=Taquin
Name[id]=Taquin
Name[it]=Taquin
Name[ko]=타킨
Name[lt]=Taquin
Name[lv]=Taquin
Name[nb]=Taquin
Name[ne]=टाक्विन
Name[nl]=Taquin
Name[oc]=Taquin
Name[pa]=ਤਾਕਿਉਨ
Name[pl]=Taquin
Name[pt]=Taquin
Name[pt_BR]=Taquin
Name[ru]=Taquin
Name[sk]=Taquin
Name[sl]=Premičnica Taquin
Name[sr]=Пецкало
Name[sr@latin]=Peckalo
Name[sv]=Taquin
Name[tr]=Taquin
Name[uk]=Дратун
Name[vi]=Xếp hình
Name[zh_CN]=推盘
Name[zh_HK]=Taquin
Name[zh_TW]=Taquin
GenericName=15-puzzle
GenericName[bg]=Квадрат с 15-16 плочки
GenericName[ca]=Trencaclosques de 15 fitxes
GenericName[ca@valencia]=Trencaclosques de 15 fitxes
GenericName[cs]=Skládačka s 15 díly
GenericName[da]=15-spil
GenericName[de]=15-teiliges Puzzle
GenericName[el]=Γρίφος 15
GenericName[en_GB]=15-puzzle
GenericName[es]=Puzle-15
GenericName[eu]=15-puzzlea
GenericName[fa]=۱۵-پازل
GenericName[fi]=15-peli
GenericName[fr]=Pousse-pousse
GenericName[fur]=zûc dal 15
GenericName[gl]=Quebracabezas 15
GenericName[he]=תצרף־15
GenericName[hr]=15-slagalica
GenericName[hu]=15-ös kirakó
GenericName[id]=15-potongan
GenericName[it]=Gioco del 15
GenericName[ko]=15-퍼즐
GenericName[lt]=15-galvosūkis
GenericName[lv]=15-mīkla
GenericName[nb]=15-puslespill
GenericName[ne]=१५-पजल खेल
GenericName[nl]=15-puzzel
GenericName[oc]=Buta-buta
GenericName[pl]=15-częściowe puzzle
GenericName[pt]=Puzzle 15
GenericName[pt_BR]=quebra-cabeça de 15 peças
GenericName[ru]=Пятнашки (15-фишек)
GenericName[sk]=Hlavolam s 15 dielmi
GenericName[sl]=15 ugank
GenericName[sr]=15-слагалица
GenericName[sr@latin]=15-slagalica
GenericName[sv]=15-pussel
GenericName[tr]=15-bulmaca
GenericName[uk]=15
GenericName[vi]=15-puzzle
GenericName[zh_CN]=十五数字推盘
GenericName[zh_TW]=15 塊
Comment=Slide tiles to their correct places
Comment[an]=Eslice as fichas a os puestos correctos
Comment[bg]=Поставете плочките на правилните места чрез плъзгане
Comment[bs]=Dogurajte pločice na njihova odgovarajuća mjesta.
Comment[ca]=Llisca les fitxes als llocs correctes
Comment[ca@valencia]=Llisca les fitxes als llocs correctes
Comment[cs]=Presuňte díly na jejich správné místo
Comment[da]=Flyt brikker til deres rigtige pladser
Comment[de]=Verschieben Sie Kacheln an ihren richtigen Ort
Comment[el]=Μετακινήστε τα πλακίδια στις σωστές τους θέσεις.
Comment[en_GB]=Slide tiles to their correct places
Comment[eo]=Glitu kahelojn al ĝustaj lokoj
Comment[es]=Deslice las fichas a los lugares correctos
Comment[eu]=Lerratu lauzak dagokien lekuetara
Comment[fa]=مهره‌ها را به جای صحیح خود جابه‌جا کنید
Comment[fi]=Liu'uta laatat oikeille kohdilleen
Comment[fr]=Glisser les pièces jusqu’à leur position correcte
Comment[fur]=Fâs cori lis tessaris te lôr posizion juste
Comment[gl]=Desprace teselas ao seu lugar correcto 
Comment[he]=להחליק אריחים למקום הנכון שלהם
Comment[hr]=Pomičite pločice na njihova odgovarajuća mjesta
Comment[hu]=Csúsztassa a csempéket a megfelelő helyükre
Comment[id]=Geser ubin-ubin ke tempat yang tepat
Comment[it]=Fai scorrere le tessere nella loro corretta posizione
Comment[ko]=타일을 밀어서 올바른 위치에 놓습니다
Comment[lt]=Tempkite koklius į jų teisingas vietas
Comment[lv]=Slidiniet kauliņus uz tiem paredzētajām vietām
Comment[nb]=Flytt fliser til rett plass
Comment[ne]=सहि स्थानमा टायलहरू स्लाइड गर्नुहोस्
Comment[nl]=Schuif tegels naar hun juiste plaatsen
Comment[oc]=Lisar las pèças fins a lor posicion corrècta
Comment[pl]=Przesuwanie elementów na właściwe miejsca
Comment[pt]=Deslize peças para os seus lugares
Comment[pt_BR]=Deslize peças para seu devido lugar
Comment[ru]=Передвиньте фишки на правильные места
Comment[sk]=Posúvajte diely na ich správne miesto
Comment[sl]=Premakni ploščice slike na ustrezna mesta
Comment[sr]=Догурајте плочице на њихова одговарајућа места.
Comment[sr@latin]=Dogurajte pločice na njihova odgovarajuća mesta.
Comment[sv]=Dra brickor till deras rätta platser
Comment[tr]=Karoları doğru yerlerine kaydır
Comment[uk]=Перетягніть плиточки на їхні місця
Comment[vi]=Di chuyển các miếng ghép vào đúng chỗ dành cho nó
Comment[zh_CN]=将方块滑动到正确位置
Comment[zh_HK]=將棋子滑到他們正確的位置上
Comment[zh_TW]=將棋子滑到他們正確的位置上
Keywords=puzzle;
Keywords[an]=puzle;chuego;
Keywords[bg]=петнадесет;загадка;плочки;15;16;puzzle;
Keywords[bs]=slagalica;
Keywords[ca]=trencaclosques;
Keywords[ca@valencia]=trencaclosques;
Keywords[cs]=posuvné;posuvná;puzzle;hlavolam;skládačka;
Keywords[da]=spil;opgave;tænkespil;puslespil;
Keywords[de]=Puzzle;
Keywords[el]=γρίφος;puzzle;
Keywords[en_GB]=puzzle;
Keywords[eo]=puzlo;
Keywords[es]=puzle;juego;
Keywords[eu]=puzzlea;
Keywords[fa]=puzzle;پازل;
Keywords[fi]=puzzle;pulma;
Keywords[fr]=puzzle; pousse-pousse; taquin;
Keywords[fur]=puzzle;gredei;
Keywords[gl]=quebracabezas;
Keywords[he]=לוח;תצרף;פאזל;
Keywords[hr]=slagalica;
Keywords[hu]=puzzle;kirakó;fejtörő;
Keywords[id]=potongan;
Keywords[it]=puzzle;rompicapo;
Keywords[ko]=puzzle;퍼즐;
Keywords[lt]=galvosūkis;
Keywords[lv]=puzle;mīkla;
Keywords[nb]=puslespill;
Keywords[ne]=पजल;
Keywords[nl]=puzzel;schuifpuzzel;
Keywords[oc]=puzzle; Buta-buta; taquin;
Keywords[pa]=ਬੁਝਾਰਤ;
Keywords[pl]=puzzle;puzle;
Keywords[pt]=puzzle;jogo;
Keywords[pt_BR]=quebra-cabeça;puzzle;
Keywords[ru]=головоломка;пятнашки;
Keywords[sk]=puzzle;hlavolam;
Keywords[sl]=sestavljanka;
Keywords[sr]=слагалица;
Keywords[sr@latin]=slagalica;
Keywords[sv]=pussel;
Keywords[tr]=bulmaca;
Keywords[uk]=головоломка;
Keywords[vi]=puzzle;ghép;ghep;xếp;hình;xep;hinh;
Keywords[zh_CN]=数字推盘；
Keywords[zh_HK]=puzzle;益智遊戲;
Keywords[zh_TW]=puzzle;益智遊戲;
Exec=gnome-taquin
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
Actions=Fifteen;Sixteen;

[Desktop Action Fifteen]
Name=15-Puzzle
Name[an]=Puzle-15
Name[bg]=15 плочки
Name[bs]=15-slagalica
Name[ca]=Trencaclosques de 15 fitxes
Name[ca@valencia]=Trencaclosques de 15 fitxes
Name[cs]=Skládačka s 15 díly
Name[da]=15-spil
Name[de]=15-teiliges Puzzle
Name[el]=Γρίφος 15
Name[en_GB]=15-Puzzle
Name[eo]=15-puzlo
Name[es]=Puzle-15
Name[eu]=15-Puzzlea
Name[fa]=۱۵-پازل
Name[fi]=15-peli
Name[fr]=Pousse-pousse
Name[fur]=Zûc dal 15
Name[gl]=Quebracabezas 15
Name[he]=לוח 15
Name[hr]=15-slagalica
Name[hu]=15-ös kirakó
Name[id]=15-Potongan
Name[it]=Gioco del 15
Name[ko]=15-퍼즐
Name[lt]=15-galvosūkis
Name[lv]=15-mīkla
Name[nb]=15-puslespill
Name[ne]=१५-पजल खेल
Name[nl]=15-puzzel
Name[oc]=Buta-buta
Name[pa]=15-ਬੁਝਾਰਤ
Name[pl]=15-częściowe puzzle
Name[pt]=Puzzle 15
Name[pt_BR]=Quebra-cabeça de 15 peças
Name[ru]=Пятнашки (15-фишек)
Name[sk]=Hlavolam s 15 dielmi
Name[sl]=15 drsečih ploščic
Name[sr]=15-слагалица
Name[sr@latin]=15-slagalica
Name[sv]=15-pussel
Name[tr]=15-Bulmaca
Name[uk]=15
Name[vi]=15-Puzzle
Name[zh_CN]=15 数字推盘
Name[zh_HK]=15 塊
Name[zh_TW]=15 塊
Exec=gnome-taquin --fifteen

[Desktop Action Sixteen]
Name=16-Puzzle
Name[an]=Puzle-16
Name[bg]=16 плочки
Name[bs]=16-slagalica
Name[ca]=Trencaclosques de 16 fitxes
Name[ca@valencia]=Trencaclosques de 16 fitxes
Name[cs]=Skládačka s 16 díly
Name[da]=16-spil
Name[de]=16-teiliges Puzzle
Name[el]=Γρίφος 16
Name[en_GB]=16-Puzzle
Name[eo]=16-puzlo
Name[es]=Puzle-16
Name[eu]=16-Puzzlea
Name[fa]=۱۶-پازل
Name[fi]=16-peli
Name[fr]=Glisse-glisse
Name[fur]=Zûc dal 16
Name[gl]=Quebracabezas 16
Name[he]=לוח 16
Name[hr]=16-slagalica
Name[hu]=16-os kirakó
Name[id]=16-Potongan
Name[it]=Gioco del 16
Name[ko]=16-퍼즐
Name[lt]=16-galvosūkis
Name[lv]=16-mīkla
Name[nb]=16-puslespill
Name[ne]=१६-पजल खेल
Name[nl]=16-puzzel
Name[oc]=Lisa-lisa
Name[pa]=16-ਬੁਝਾਰਤ
Name[pl]=16-częściowe puzzle
Name[pt]=Puzzle 16
Name[pt_BR]=Quebra-cabeça de 16 peças
Name[ru]=16-фишек
Name[sk]=Hlavolam s 16 dielmi
Name[sl]=16 drsečih ploščic
Name[sr]=16-слагалица
Name[sr@latin]=16-slagalica
Name[sv]=16-pussel
Name[tr]=16-Bulmaca
Name[uk]=16
Name[vi]=16-Puzzle
Name[zh_CN]=16 数字推盘
Name[zh_HK]=16 塊
Name[zh_TW]=16 塊
Exec=gnome-taquin --sixteen
